.product {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 8px 12px -4px #f5eeea99;
  position: relative;
}

.product .product-vector {
  height: 1px;
  left: 0;
  position: absolute;
}

.product .product-copy {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 8px;
  position: absolute;
  width: fit-content;
}

.product .product-text-wrapper {
  color: #082668;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.product .div {
  color: #6b7da4;
  font-family: "Poppins", Helvetica;
  font-weight: 400;
  letter-spacing: 0;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.product .product-copy-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: fit-content;
}

.product .product-img {
  background-color: #fcf7efb2;
  border-radius: 12px;
  left: 8px;
  position: absolute;
  top: 8px;
}

.product .img-2 {
  position: absolute;
}

.product .taste-of-the-wild-hight-prairie-reci {
  color: #082668;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  left: 8px;
  letter-spacing: 0;
  position: absolute;
}

.product .element {
  color: #da4562;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  left: 8px;
  letter-spacing: 0;
  position: absolute;
  white-space: nowrap;
}

.product .mobile {
  top: 212px;
  width: 164px;
}

.product .class {
  top: 232px;
  width: 176px;
}

.product .mobile-fat {
  font-size: 12px;
  line-height: 14.4px;
}

.product .class-2 {
  font-size: 14px;
  line-height: 19px;
}

.product .mobile-copy {
  top: 224px;
}

.product .class-3 {
  top: 240px;
}

.product .mobile-div {
  top: 264px;
}

.product .class-4 {
  top: 288px;
}

.product .mobile-2 {
  left: 69px;
  top: 224px;
}

.product .class-5 {
  left: 75px;
  top: 240px;
}

.product .mobile-3 {
  left: 127px;
  top: 224px;
}

.product .class-6 {
  left: 134px;
  top: 240px;
}

.product .mobile-image {
  height: 106px;
  left: 32px;
  top: 11px;
  width: 85px;
}

.product .class-7 {
  height: 112px;
  left: 35px;
  top: 12px;
  width: 90px;
}

.product .mobile-img {
  height: 128px;
  width: 148px;
}

.product .class-8 {
  height: 136px;
  width: 160px;
}

.product .mobile-taste-of-the-wild-hight-prairie-reci {
  font-size: 14px;
  line-height: 17.8px;
  top: 141px;
  width: 148px;
}

.product .class-9 {
  font-size: 16px;
  height: 40px;
  line-height: 22.4px;
  top: 151px;
  width: 160px;
}

.product .mobile-element {
  font-size: 16px;
  line-height: 24.3px;
  top: 180px;
  width: 136px;
}

.product .class-10 {
  font-size: 18px;
  line-height: 23.8px;
  top: 199px;
  width: 160px;
}

.product.mobile-device-mobile {
  height: 304px;
  width: 164px;
}

.product.class-11 {
  height: 336px;
  width: 176px;
}
